.frame{
 

  width:500px;
  padding:50px;
  margin:20px auto;
  background-color:yellow;

}


.canvas{
	
background-color:#4d0f00;
	width:500px;
	height:600px;
	overflow:hidden;
	
}

.one{
  
  width:425px;
  height:125px;
  background-color:#efb762;
  margin:20px auto;
  


}
.two{

width:475px;
height:200px;
background-color:#efb762;
margin:0 auto  20px;

}
.three{
width:91%;
height:28%;
background-color:red;
margin:0 auto 20px;

}
h3,h1{
	
	color:blue;
	text-align:center;
	
}
